@import "./colors.scss";
@import "./main.scss";

html {
  overflow: auto;
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: 'Cabin', sans-serif;
  overflow: auto;

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    line-height: 1.5;
    font-weight: 400;
  }
}

div {
  box-sizing: border-box;
}

#movieflix-app {
	width: 100%;
	height: 100%;
}

.button {
  width: 100%;
  text-align: center;
  padding: 6px 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}
.button-red {
  border: 1px solid $color_red;
  color: $color_red;
  &:hover {
    background-color: rgba($color_red, 0.1);
  }
}
.button-transparent {
  background: transparent;
}
