@import "./colors.scss";

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Cabin', sans-serif;

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    line-height: 1.5;
    font-weight: 400;
  }
}

#movieflix-app {
	width: 100%;
	height: 100%;
}
